* {
font-family: sans-serif;
}

body {
  width:80%;
  margin: auto;
}

div.header span {
  display: inline-block;
  float: left;
  height: 2em;
  font-weight: bold;
}

div.header nav {
  display: inline-block;
  float: right;
  height: 2em;
}

div.header nav a {
  text-decoration:none;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
}

div.header nav a:hover {
  background-color: #aaa;
}

h1 {
  text-align: center;
}

h1 + p {
  text-align: center;
}

small {
  text-align: right;
}
