html {
    background-color: #eeeeef;
    margin: 0;
    padding: 0;
}

* {
  font-family: sans-serif;
}

body {
  width: 80%;
  min-height:100vh;
  margin: auto;
  background-color: #fff;
}

div.header {
  top: 0;
  position: sticky;
  background-color: #eeeeef;
}

div.header span {
  display: inline-block;
  float: left;
  font-weight: bold;
}

div.header nav {
  display: inline-block;
  float: right;
  text-align: center;
}

div.header nav a {
  text-decoration:none;
  padding: 2px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 2px;
}

div.header nav a:hover {
  background-color: #ccc;
}

div.header nav a.current-page {
  background-color: #fff;
  border:1px solid #fff;
}

div.main {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  text-align: center;
}

h1 + p {
  text-align: center;
}

small {
  text-align: right;
}

div.footer {
  bottom: 0;
  position: fixed;
  width: 80%;
  background-color: #eeeeef;
}

div.main > h3 > a {
  border-radius: 4px;
  color: #000;
  background: #eeeeef;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

div.main > h3 > a:hover {
  background: #ccc;
  text-decoration: none;
}
