* {
font-family: sans-serif;
}

body {
  width:80%;
  margin: auto;
}

div.header p {
  display: inline-block;
  float: left;
  height: 2em;
}

div.header nav {
  display: inline-block;
  float: right;
  height: 2em;
}
